.primary {
  color: #1e4f9b;
}

.text-red {
  color: #d00422;
}

.bg-primary {
  background-color: #1e4f9b;
}
.bg-red {
  background-color: #d00422;
}

.flex-center {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.animate {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #1e4f9b 0%,
    #44107a 29%,
    #d00422 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
  /* font-size: 190px; */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.heading {
  position: relative;
  max-width: 100vw;
  margin: 10px auto;
  text-align: center;
  color: gray;
  font-weight: bold;
  font-size: 2.2rem;
  text-transform: uppercase;
}

.heading:before {
  content: " ";
  height: 3px;
  width: 180px;
  background: red;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}

.heading:after {
  content: " ";
  height: 3px;
  width: 180px;
  background: red;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  border-radius: 8px;
}
@media only screen and (max-width: 800px) {
  .heading:after {
    display: none;
  }
  .heading:before {
    display: none;
  }
}
.outlined-button {
  color: #d00422;
  border: 1px solid #d00422;
  border-radius: 6px;
  padding: 8px 30px;
  font-weight: 600;
  width: max-content;
  margin: auto;
  transition: 0.3s;
  font-size: 18px;
}
.outlined-button:hover {
  background-color: #d00422;
  color: #fff;
  border-radius: 6px;

  font-weight: "semi-bold";
  /* margin: auto; */
  /* border: 1px solid whitesmoke; */
}

.btn-primary {
  color: #fff;
  background-color: #d00422 !important;
  border-radius: 6px;
  padding: 8px 30px;
  font-weight: 600;
  width: max-content;
  margin: auto;
  transition: 0.3s;
  font-size: 18px;
}
.btn-primary:hover {
  color: #fff;
  background-color: #b1051f !important;
}

.area li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
  font-size: 20px;
  font-weight: 600;
}

.training {
  background: linear-gradient(
      0deg,
      rgba(13, 20, 26, 0.7),
      rgba(13, 20, 26, 0.7)
    ),
    url("../../public/assets/images/bg-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 30px 0;
  position: relative;
}
.bg-parallax {
  background: linear-gradient(0deg, rgba(3, 4, 5, 0.7), rgba(2, 4, 5, 0.801)),
    url("../../public/assets/images/lumbini.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 30px 0;
  position: relative;
}
.steps-progress {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.steps-progress .steps-list {
  width: 100%;
  position: relative;
  list-style: none;
}
.steps-progress .steps-list::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 10px;
  height: 100%;
  border-left: 3px solid #fff;
}
.steps-progress .steps-list .steps-item {
  position: relative;
  width: 50%;
}
.steps-progress .steps-list .steps-item:hover:nth-child(even)::before {
  height: 100%;
}
.steps-progress .steps-list .steps-item:hover:nth-child(odd)::before {
  height: 100%;
}
.steps-progress .steps-list .steps-item:nth-child(even) {
  padding-right: 20px;
  text-align: right;
  float: left;
  clear: both;
}
.steps-progress .steps-list .steps-item:nth-child(even)::before {
  content: "";
  position: absolute;
  top: 0;
  right: -3px;
  width: 3px;
  height: 0;
  background-color: #b1051f;
  display: inline-block;
  transition: all 255ms ease-in-out;
}
.steps-progress .steps-list .steps-item:nth-child(even)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -9px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
}
.steps-progress .steps-list .steps-item:nth-child(odd) {
  float: right;
  padding-left: 20px;
  clear: both;
}
.steps-progress .steps-list .steps-item:nth-child(odd)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 0;
  background-color: #b1051f;
  display: inline-block;
  transition: all 255ms ease-in-out;
}
.steps-progress .steps-list .steps-item:nth-child(odd)::after {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
}
.steps-progress .steps-list .steps-item:not(:last-child) {
  padding-bottom: 1rem;
}
.steps-progress .steps-list .steps-item .location {
  margin-top: 0.2rem;
}
.steps-progress .steps-list .steps-item .periode {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.accordion ul li {
  list-style-type: decimal;
  margin-top: 15px;
  margin-left: 25px;
  transition: 5s;
}

.serviceAreas ul li {
  /* font-size: 20px; */
  font-weight: 500;
}

.serviceAreas ul li {
  list-style: none;
}

.serviceAreas ul li::before {
  /* content: "\00BB";
  font-size: 18px; */
  content: "";
  height: 0;
  width: 0;
  border-color: transparent #b1051f;
  border-style: solid;
  border-width: 0.4em 0 0.4em 0.4em;
  position: relative;
  display: block;
  left: -1em;
  top: 1.25em;
}
.slider-arrow {
  position: absolute;
  font-size: 36px;
  left: 10px;
  top: 40%;
  z-index: 1;
  font-size: 36px;
  color: #1e4f9b;
  background-color: #eee;
  padding: 10px;
  border-radius: 4px;
}
.arrow-btn {
  position: absolute;
  top: 40%;
  z-index: 1;
  right: 10px;
  font-size: 36px;
  color: #1e4f9b;
  background-color: #eee;
  padding: 10px;
  border-radius: 4px;
}

/* .next {
  float: right;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
