@tailwind base;
@tailwind components;
@tailwind utilities;

.primary {
  color: #1e4f9b;
}

.text-red {
  color: #d00422;
}

.bg-primary {
  background-color: #1e4f9b;
}
.bg-red {
  background-color: #d00422;
}

.flex-center {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
